@model IEnumerable<MarioProducts.Models.Product>

@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="product-index">
    <h1 class="product-title">Products</h1>

	<div class="container">
     @if (User.Identity.IsAuthenticated)
    {
        <input type="button" id="create-btn" class="btn add-product-btn" value="Add New Product" onclick="location.href='@Url.Action("Create", "Product")'"/>
	}
	<br>

    @foreach (var product in Model)
    {   
      <div class="card product-cards" style="width: 20rem; text-align:center;display:inline-block;">
        <div class="card-block">
          <h4 class="card-title ">@Html.DisplayFor(model => product.Name) </h4>
		  <input type="button" id="create-btn" class="btn product-btn" value="Product Details" onclick="location.href='@Url.Action("Details", new {id = product.ProductId})'"/>
          <p class="card-text"><small class="text-muted">Date Posted: @product.CreateDate</small></p>
        </div>
      </div>	
    }
	</div>
   
</div>