@model MarioProducts.Models.Review

@{
    ViewData["Title"] = "Product - Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="delete-view">
    <h1 class="home-title">Are you sure you want to remove this review?</h1>

    @using (Html.BeginForm())
    {
	    <div class="center">
            <input type="submit" class="btn" value="Confirm" onclick="location.href='@Url.Action("Delete", new{ id = Model.ReviewId})'"/>
            <input type="submit" class="btn" value="Cancel" onclick="location.href='Url.Action("Details", "Product", new {id = Model.ProductId})'"/>
    	</div>
	}
</div>