@{
    ViewData["Title"]="Mario's Specialty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="home-header">
    <h1>Mario's Specialty Food Products</h1>
    <input type="button" class="btn view-all-btn" value="View All Products" onclick="location.href='@Url.Action("Index", "Product")'"/>
</div>

