@{
    ViewData["Title"] = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (User.Identity.IsAuthenticated)
{
    <div class="account-index">
        <h1 class="account-title">Hello @User.Identity.Name!</h1>
    </div>
}
else
{
   <p>@Html.ActionLink("Create new admin", "Register")</p>
   <p>@Html.ActionLink("Log in", "Login")</p>
}
